---
import BaseLayout from "../layout/base.astro";
import { home } from "../json-schema";
---

<BaseLayout
  title="Engineering & Miscellany"
  description="I build hardware and software, from circuit boards to the code that runs on them. I'm trying to write more about things I find interesting."
  jsonSchema={home()}
>
  <header class="wrapper">
    <h2>Intro</h2>
    <section class="prose">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat pariatur
      porro corrupti eum itaque rerum officia, ut voluptate placeat veritatis,
      officiis alias voluptatibus magnam ipsa similique necessitatibus nemo quod
      quisquam! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Adipisci totam velit similique distinctio iure eos iste commodi, atque
      neque magnam perspiciatis quo expedita impedit esse quod tempore nostrum,
      odit ipsum.
    </section>
  </header>
  <div class="wrapper">
    <section>
      <h2>Projects</h2>
      <a href="/projects">See More</a>
    </section>
    <section>
      <h2>Writings</h2>
      <a href="/posts">See More</a>
    </section>
  </div>
</BaseLayout>
