---
import BaseLayout from "../layout/base.astro";
---

<BaseLayout
  title="Engineering & Miscellany"
  description="I build hardware and software, from circuit boards to the code that runs on them. I'm trying to write more about things I find interesting."
>
  <h1>Cool Blog</h1>
</BaseLayout>
