---
import MetaLayout from "./_meta.astro";

interface Props {
  title: string;
  description: string;
  jsonSchema?: string;
}

const { title, description, jsonSchema }: Props = Astro.props;
---

<MetaLayout title={`Colin Clark | ${title}`} {description} {jsonSchema}>
  <!-- TODO style navbar -->
  <nav>
    <div><a href="/">C<sup>2</sup></a></div>
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <slot />
  <!-- TODO style footer -->
  <footer>
    <h4>colclark</h4>
    <div>Icons</div>
  </footer>
</MetaLayout>
